.book-card {
  width: fit-content;
  text-align: start;
  background-color: #f3f2f1;
  min-height: 480px;
  width: 320px;
  margin-right: 20px;
  margin-bottom: 20px;
}
.book-card__img {
  width: 200px;
  height: 300px;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 30px;
  box-shadow: 16px 14px 15px -6px rgba(0, 0, 0, 0.35);
}

.book-card__title {
  font-weight: bold;
}
